[*]
max_line_length = 150

ktlint_standard = enabled # Disable all rules from the `standard` rule set provided by KtLint
ktlint_standard_no-empty-first-line-in-class-body = disabled
ktlint_standard_chain-method-continuation = disabled
ktlint_standard_no-blank-line-before-rbrace = disabled
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_class-signature = disabled
ktlint_standard_property-naming = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_blank-line-before-declaration = disabled
ktlint_standard_function-expression-body = disabled
ktlint_standard_no-consecutive-blank-lines = disabled
ktlint_standard_string-template-indent = disabled
ktlint_standard_wrapping = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-ktlint_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_trailing-trailing-comma-on-call-site = disabled
ktlint_standard_final-newline = enabled
ktlint_standard_comment-spacing = disabled
ktlint_standard_argument-list-wrapping = disabled
ktlint_standard_indent = disabled
ktlint_standard_if-else-bracing = disabled
ktlint_standard_if-else-wrapping = disabled
ktlint_standard_import-ordering = disabled
ktlint_standard_multiline-if-else = disabled
ktlint_standard_parameter-list-wrapping = disabled
ktlint_standard_discouraged-comment-location = disabled
ktlint_standard_enum-wrapping = disabled
ktlint_standard_annotation = disabled
ktlint_standard_no-consecutive-comments = disabled
ktlint_standard_block-comment-initial-star-alignment = disabled
ktlint_standard_parameter-list-spacing = disabled
ktlint_standard_comment-wrapping = disabled
ktlint_experimental = enabled # Enable rules marked as experimental for all rule sets that are enabled
ktlint_standard_some-experimental-rule = disabled # Disables the (experimental) `some-experimental-rule` in the `standard` rule set provided by KtLint
ktlint_custom-rule-set = enabled # Enable all rules in the `custom-rule-set` rule set (not provided by KtLint)
ktlint_custom-rule-set_custom-rule = disabled # Disables the `custom-rule` rule in the `custom-rule-set` rule set (not provided by KtLint)

