<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application>
        <!-- Mqtt Service -->
        <service
            android:name="info.mqtt.android.service.MqttService"
            android:foregroundServiceType="dataSync" />

    </application>

</manifest>
