name: Release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Publish release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - name: Install JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11
      - name: Install Android SDK
        uses: malinskiy/action-android/install-sdk@release/0.1.2
      - name: Find Tag
        id: tagger
        uses: jimschubert/query-tag-action@v2
        with:
          skip-unshallow: 'true'
          commit-ish: HEAD
      - name: Build project
        run: ./gradlew clean build
        env:
          VERSION: ${{steps.tagger.outputs.tag}}
      - run: |
          PRE_RELEASE=""
          if [[ ${{steps.tagger.outputs.tag}} == *"beta"* ]]; then
            PRE_RELEASE="-p"
          fi
          if [[ ${{steps.tagger.outputs.tag}} == *"alpha"* ]]; then
            PRE_RELEASE="-p"
          fi
          assetsAAR=$(find . -name *release.aar | while read -r asset ; do echo "-a $asset" ; done)
          assetsJAR=$(find . -name *${{steps.tagger.outputs.tag}}.jar | while read -r asset ; do echo "-a $asset" ; done)
          hub release create $PRE_RELEASE ${assetsAAR} ${assetsJAR} -m "${{steps.tagger.outputs.tag}}" "${{steps.tagger.outputs.tag}}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERSION: ${{ github.ref }}
